* { margin: 0; padding: 0;}


/*dark mode*/
:root {
    --bg-main: #18122B;
    --bg-prime: #e4ebfc;
    --bg-g1: #5A5F75;
    --bg-g2: #011936;
    --bg-g3: #072830;
    --bg-b1: #00000D;
    --bg-b2: #323652;
    --bg-btn: #fffff0;
    --bg-modal: #18122B;
    --bg-time: rgba(255, 255, 255, 0.05);
    --bg-tf: #00ddff;
}


/*light mode*/
:root .darkmode {
    --bg-prime: #18122B;
    --bg-main: #e4ebfc;
    --bg-g1: #c4d5e2;
    --bg-g2: #d2ece8;
    --bg-g3: #c3eff5;
    --bg-b1: #a7b9d9;
    --bg-b2: #cfcfe2;
    --bg-btn: #fffff0;
    --bg-modal: #a497cf;
    --bg-time: rgba(255, 255, 255, 0.05);
    --bg-tf: #00ddff;
}



body {
    overflow-y: hidden;
    background-color: var(--bg-main);
    color: var(--bg-prime);
}

h3 {
    padding: 0.5rem;
}

header {
    background-color: var(--bg-main);
    color: var(--bg-prime);
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    font-size: 25px;
    margin: 0px 17px;
}
.logo {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: larger;
}

#checkbox {
    visibility: hidden;
}
.togglebtn {
    width: 4.2rem;
    height: 2rem;
    background-color: var(--bg-prime);
    display: inline-block;
    position: relative;
    border-radius: 10rem;
}
.ball {
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--bg-main);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 0.1rem;
    top: .0945rem;
    transition: all 0.5s;
}
#checkbox:checked+.togglebtn .ball {
    transform: translateX(2.2rem);
}
i {
    font-size: 20px;
    margin: 1.5px;
}
.line {
    background-color: var(--bg-prime);
    margin: 0 31px 0px;
    width: 95%;
    height: 1px;
}

main {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 45%;
    height: 7rem;
}

.note {
    border-radius: 8px;
    min-height: 4.7rem;
    margin: 15px 30px;
    padding: 12px;
    background-color: var(--bg-g1);
    position: relative;
    overflow: scroll;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#noteadders {
    width: 13rem;
    background-color: rgb(223, 223, 224);
    color: black;
    padding: 0.7rem;
    margin: 0.9rem 2.5rem;
    border-radius: 8px;
    border: 2px solid rgba(11, 11, 11, 0.927);
}
.notebtn {
    width: 5rem;
    min-height: 1.8rem;
    background-color: var(--bg-btn);
    border: 3px solid rgba(11, 11, 11, 0.927);
    border-radius: 0.5rem;
    cursor: pointer;
}
.linen {
    background-color: var(--bg-prime);
    margin: 0 31px 0px;
    width: 85%;
    height: 1px;
}
.dlt {
    position: absolute;
    left: 25rem;
    bottom: 2.3rem;
}

.quote {
    height: 10rem;
    border-radius: 8px;
    margin: 6px 30px;
    padding: 12px;
    background-color: var(--bg-g2);
    color: var(--bg-prime);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}
.disquote {
    font-size: 1.5rem;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.disbtn {
    position: absolute;
    bottom: 12.5rem;
    left: 32em;
}

#time {
    background-color: var(--bg-time);
    color: var(--bg-tf);
    font-size: 2rem;
    border-radius: 8px;
    margin: 12px 10px 20px 75px;
    padding: 14px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 55%;
    cursor: pointer;
}
#date{
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 20px #00ffcc;
    letter-spacing: 2px;
}
#timedis{
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    text-shadow: 0 0 20px #00ffcc;
}

.weather {
    background-color: var(--bg-b1);
    margin: 0px 30px;
    padding: 8px;
    min-height: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.right {
    width: 55%;
    border-radius: 10px;
}

.todolist {
    background-color: var(--bg-b2);
    border-radius: 8px;
    margin: 15px 30px;
    padding: 12px;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0);
    transition: 0.5s ease-out;
    border: 2px solid var(--bg-prime);
    border-radius: 10px;
    z-index: 10;
    background-color: var(--bg-modal);
    width: 500px;
    height: 150px;
    max-width: 80%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.708);
}
.modal.active {
    transform: translate(-50%, -50%)scale(1);
}
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.8px solid var(--bg-prime);
}
.closebtn {
    font-size: x-large;
    font-weight: bold;
}
.modal-body {
    padding: 8px;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #00000da4;
    transition: 0.5s ease-out;
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}