* {
    margin: 0;
    padding: 0;
}

/*light mode*/
:root {
    --bg-prime: #18122B;
    --bg-main: #e4ebfc;
    --bg-g1: #5a5f75d8;
    --bg-g2: #011936;
    --bg-g3: #072830;
    --bg-b1: #00000D;
    --bg-b2: #323652;
    --bg-btn: #fffff0;
}


/*dark mode*/
:root .darkmode {
    --bg-main: #18122B;
    --bg-prime: #e4ebfc;
    --bg-g1: #5A5F75;
    --bg-g2: #011936;
    --bg-g3: #072830;
    --bg-b1: #00000D;
    --bg-b2: #323652;

}

body {
    overflow-y: hidden;
    background-color: var(--bg-main);
    color: var(--bg-prime);
}

header {
    background-color: var(--bg-main);
    color: var(--bg-prime);
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    font-size: 25px;
    margin: 0px 17px;
}

.logo {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: larger;
}

#checkbox {
    visibility: hidden;
}

.togglebtn {
    width: 4.2rem;
    height: 2rem;
    background-color: var(--bg-prime);
    display: inline-block;
    position: relative;
    border-radius: 10rem;

}

.ball {
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--bg-main);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 0.1rem;
    top: .0945rem;
    transition: all 0.5s;
}

#checkbox:checked+.togglebtn .ball {
    transform: translateX(2.2rem);
}

i {
    font-size: 20px;
    margin: 1.5px;
    /* padding: 3px; */
}

.line {
    background-color: var(--bg-prime);
    margin: 0 31px 0px;
    width: 95%;
    height: 1px;
}

main {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 45%;
    min-height: 420px;
}

.note {
    border-radius: 8px;
    margin: 15px 30px;
    padding: 12px;
    background-color: var(--bg-g1);
    position: relative;
    overflow: scroll;
}

#noteadders {
    width: 13rem;
    background-color: rgb(223, 223, 224);
    color: black;
    padding: 0.5rem;
    margin: 0.5rem 2.5rem;
    border-radius: 8px;
    border: 2px solid rgba(11, 11, 11, 0.927);
}

.linen {
    background-color: var(--bg-prime);
    margin: 0 31px 0px;
    width: 85%;
    height: 1px;
}

.dlt {
    position: absolute;
    left: 25rem;
    bottom: 2.3rem;
    width: 5rem;
    height: 1.8rem;
    background-color: var(--bg-b1);
    border: 2px solid rgba(34, 34, 34, 0.837);
    border-radius: 0.5rem;
}

.quote {
    min-height: 10rem;
    border-radius: 8px;
    margin: 20px 30px;
    padding: 12px;
    background-color: var(--bg-g2);
    color: var(--bg-prime);
}

.time {
    border-radius: 8px;
    margin: 28px;
    padding: 12px;
    background-color: var(--bg-g3);

}

.weather {
    background-color: var(--bg-b1);
    margin: 0px 30px;
    padding: 8px;
    min-height: 30px;
    border-radius: 8px;
}

.right {
    width: 55%;
    border-radius: 10px;
    /* height: 28rem;
    margin-top: 10px; */
    background-color: var(--bg-g1);
}

.todolist {
    background-color: var(--bg-b2);
    border-radius: 8px;
    margin: 15px 30px;
    padding: 12px;
    height: 400px;

}

.notebtn {
    width: 5rem;
    height: 1.8rem;
    background-color: var(--bg-btn);
    border: 3px solid rgba(11, 11, 11, 0.927);
    border-radius: 0.5rem;
}