* {
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    background-color: var(--bg-main);
    color: var(--bg-prime);
}

/*dark mode*/
:root{
    --bg-main:#18122B;
    --bg-prime:#e4ebfc;
    --bg-g2:#FF9F1C;
    --bg-g1:#5A5F75;
    --bg-g3:rgba(7, 70, 7, 0.915);
}


/*light mode*/
:root .darkmode{
    --bg-prime:#18122B;
    --bg-main:#e4ebfc;
    --bg-g2:#5A5F75;
    --bg-g1:#f7c784;
    --bg-g3:rgba(7, 182, 7, 0.747);
}

header {
    background-color: var(--bg-main);
    color: var(--bg-prime);
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    font-size: 25px;
    margin: 0px 17px;
}

.logo {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: larger;
}

#checkbox{
visibility: hidden;
}

.togglebtn{
    width: 4.2rem;
    height: 2rem;
    background-color: var(--bg-prime);
    display: inline-block;
    position: relative;
    border-radius: 10rem;
    
}
.ball{
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--bg-main);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 0.1rem;
    top: .0945rem;
    transition: all 0.5s;
}

#checkbox:checked + .togglebtn .ball{
    transform: translateX(2.2rem);
}

i{
    font-size: 20px;
    margin: 1.5px;
    /* padding: 3px; */
}

.line{
    background-color: var(--bg-prime);
    margin: 0 31px 0px;
    width: 95%;
    height: 1px;
}

main{
    display: flex;
    justify-content: space-between;
}

.left{
    width: 45%;
    min-height: 420px;
}

.note{
    border-radius: 8px;
    margin: 15px 30px;
    padding: 12px;
    background-color: var(--bg-g1);
    position: relative;
    
}
#noteadders{
    background-color: rgb(223, 223, 224);
  color: black;
  padding: 3px;
  margin: 10px;
  border-radius: 8px;
  border: 1.5px solid rgb(22, 21, 21);
}